body {
    margin: 0 0;
    padding: 0 0;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 14px;
    color: #333333;
    background: #317466;
}

h1, h2, h3 {
    font-family: "Helvetica Neue", sans-serif;
}

#header-container {
    margin: 0 0;
    height: 57px;
    background: white;
    //border-bottom: 3px solid #317466;
}

#header {
    width: 600px;
    height: 57px;
    margin: 0 auto;
}

#header img {
    height: 100%;
    float: left;
    padding-right: 10px;
}

#header h1 {
    margin: 0 0;
    font-size: 35px;
    float:left;
    color: #317466;
    text-align: center;
}

#content {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
}

#user {
    margin: 0 0;
    height: 57px;
    width: 100%;
    border-bottom: 1px solid gray;
}

#user img {
    width: 52px;
    height: 52px;
    float: left;
    padding: 5 5;
}

#user h1 {
    padding: 5 0 0 0;
    color: #555555;
    text-decoration: bold;
    font-size: 14px;
}

#user h2 {
    padding: 0 0;
    color: #888888;
    font-size: 12px;
}

#item {
    height: 200px;
    padding: 5 5;
    border-bottom: 1px solid gray;
}

#item h1 {
    margin: 0 0;
    color: #555555;
    font-size: 20px;
    text-align: left;
}

#item img {
    width: 266px;
    height: 200px;
    float: left;
    padding-right: 10px;
}

#advice {
    width: 100%;
    float: left;
}

#advice h1 {
    color: #555555;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: left;
    width: 100%;
    border-radius: 5px;
}

#comment {
    clear: left;
}

#comment img {
    width: 40px;
    height: 40px;
    padding: 0 5 5 5;
    float: left;
}


    